#about {
  position: relative;
  width: 80%;
  height: 90%;
  margin: 0 auto;
}
#imagem {
  position: absolute;
  width: 1040px;
  height: 640px;
  left: 222px;
  top: 120px;
  z-index: -1;
}
#information {
  position: absolute;
  width: 887px;
  height: 544px;
  left: 866px;
  top: 150px;

  border: 3.5px solid #3f3d56;
  box-sizing: border-box;
  border-radius: 10px 40px;
  background-color: #f5f9ff;
  background-image: url("../../assets/img/wave.svg");
  background-position: 90% 40%;
  background-repeat: no-repeat;
  background-size: 855px 629px;

  a {
    color: #3626a7;
  }

  .item-list {
    font-family: Roboto;
    font-size: 18px;
    list-style-type: none;
    margin-top: 30px;
    margin-left: 70px;
    width: 2000px;
    height: 20px;
  }
}
