.about {
 position: relative;
 width: 80%;
 height: 90%;
 margin: 0 auto;
}

.imagem {
 position: absolute;
 width: 1051px;
 height: 640px;
 left: 222px;
 top: 120px;
 z-index: -1;
}

.information {
 position: absolute;
 width: 887px;
 height: 544px;
 left: 866px;
 top: 150px;

 border: 3.5px solid #3f3d56;
 box-sizing: border-box;
 border-radius: 10px 40px;
 background-color: #f6fbff;
 background-image: url("../../assets/img/wave2.0.svg");
 background-position: 90% 100%;
 background-repeat: no-repeat;
 background-size: 855px 514px;

 h2 {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 32px;
  font-family: var(--slab);
 }

 a {
  display: inline-block;
  color: var(--blue);
 }

 .itemList {
  font-family: var(--roboto);
  font-size: 18px;
  list-style-type: none;
  margin-top: 30px;
  margin-left: 70px;
  width: 2000px;
  height: 20px;
 }
}

@media (max-width: 1920px) {
 .imagem {
  width: 1000px !important;
  left: 30px !important;
  top: 80px !important;
 }

 .information {
  width: 800px !important;
  height: 550px !important;
  top: 100px !important;
  left: 630px !important;
 }
}
@media (max-width: 1600px) {
 .imagem {
  width: 800px !important;
  left: 20px !important;
  top: 100px !important;
 }

 .information {
  width: 700px !important;
  height: 500px !important;
  top: 140px !important;
  left: 500px !important;
 }
}
@media (max-width: 1370px) {
 .imagem {
  width: 600px !important;
  left: 2px !important;
  top: 12px !important;
 }
 .information{
  width: 630px !important;
  height: 400px !important;
  top: 100px !important;
  left: 370px !important;
 }
}