#divLogin {
  border: 1px solid var(--white);
  border-radius: 0px 25px;
  width: 30rem;
  height: 25rem;
}

#txtUser {
  background: url(../../assets/img/user.svg) no-repeat scroll ;
}

#txtPass {
  background: url(../../assets/img/password.svg) no-repeat scroll ;
}

