#divLogin {
  border: 1px solid white;
  border-radius: 0px 25px;
  width: 30rem;
  height: 23rem;
  margin: auto;

  padding-top: 45px;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;
  background-color: white;
  box-shadow: 6px 7px 6px rgba(54, 38, 167, 0.4);

  h3 {
    font-size: 40px;
    font-family: "Roboto Slab", serif;
  }
}

#txtUser,
#txtPass {
  border-bottom: 1px solid;
  width: 20rem;
  height: 40px;
  font-size: 20px;
}

#txtUser {
  background: url(../../assets/img/user.svg) no-repeat scroll 7px 7px;
  padding-left: 40px;
  margin-top: 42px;
}

#txtPass {
  background: url(../../assets/img/password.svg) no-repeat scroll 7px 7px;
  padding-left: 40px;
  margin-top: 20px;
}

#btnEntrar {
  background-color: white;
  width: 10rem;
  height: 45px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-top: 58px;

  cursor: pointer;
}

#btnEntrar {
  transition: 0.3s;
  &:hover {
    transform: translate(-2px, -5px);
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: black;
    // border: 1px solid white;
    color: white;
  }
}
