#divNewCity{
    border: 1px solid white;
    border-radius: 0px 25px;
    width: 30rem;
    height: 20rem;
    margin: auto;

    padding-top: 45px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 9px 7px 5px rgba(125, 110, 255, 0.575);
    -moz-box-shadow:    9px 7px 5px rgba(125, 110, 255, 0.575);
    box-shadow:         9px 7px 5px rgba(125, 110, 255, 0.575);

    h3{
        font-size: 40px;
        font-family: 'Roboto Slab', serif;
    }
}

#txtCity, #txtURL{
    border-bottom: 1px solid;
    width: 20rem;
    height: 40px;
    font-size: 20px;
}

#txtCity{
    background: url(../../assets/img/city.svg) no-repeat scroll 7px 7px;
    padding-left: 40px;
}

#txtURL{
    background: url(../../assets/img/url.svg) no-repeat scroll 7px 7px;
    padding-left: 40px;
}

#btnCadastrar{
    color: white;
    background-color: black;
    width: 10rem;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    transition: transform 0.3s ease;
    cursor: pointer;
}
  
#btnCadastrar::after,
#btnCadastrar::before {
    visibility: hidden;
    content: "";
    position: absolute;
    opacity: 0.3;
    width: 10rem;
    height: 45px;
    background: #000;
    border-radius: inherit;
    align-items: center;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  #btnCadastrar:hover {
    transform: translate(12px, -12px);
  }
  
  #btnCadastrar:hover::after {
    transform: translate(-6px, 6px);
    visibility: visible;
  }
  
  #btnCadastrar:hover::before {
    transform: translate(-12px, 12px);
    visibility: visible;
  }