#divNewUser{
    height: 500px;
}


#txtUser{
    background: url(../../assets/img/user.svg) no-repeat scroll;
}

#txtEmail{
    background: url(../../assets/img/email.svg) no-repeat scroll;
}

#txtPass{
    background: url(../../assets/img/password.svg) no-repeat scroll;
}

#txtPhone{
    background: url(../../assets/img/phone.svg) no-repeat scroll;
}

#txtLocation{
    background: url(../../assets/img/map.svg) no-repeat scroll;
}
