#divNewUser{
    height: 600px;
}


#txtUser{
    margin-top:20px;
    background: url(../../assets/img/user.svg) no-repeat scroll;
}

#txtEmail{
    background: url(../../assets/img/email.svg) no-repeat scroll;
}

#txtPass{
    background: url(../../assets/img/password.svg) no-repeat scroll;
}

#txtPhone{
    background: url(../../assets/img/phone.svg) no-repeat scroll;
}

#txtLocation{
    background: url(../../assets/img/map.svg) no-repeat scroll;
}

#select{
    border: 1px solid black !important;
    border-radius: 5px;
    width: 50%;
}