#navbar {
  position: absolute;
  width: 300px;
  height: 700px;
  margin-left: 100px;
  margin-top: 50px;
  color: #fff;
  background: #3626a7;
  box-shadow: 6px 7px 0px #ffffff;
  border-radius: 10px 40px;
}

h2 {
  width: 122px;
  height: 39px;
  padding-left: 40px;
  padding-top: 50px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  color: #ffffff;
}

#lista {
  margin-left: 99px;
}

.item {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  align-items: center;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-left: 19px;
}

#despesas {
  margin-top: 40%;
  list-style-image: url("/assets/img/despesa.svg");
}
#estrutura {
  margin-top: 31px;
  list-style-image: url("/assets/img/estrutura.svg");
}
#receitas {
  margin-top: 31px;
  list-style-image: url("/assets/img/receita.svg");
}
#municipios {
  margin-top: 31px;
  list-style-image: url("/assets/img/municipio.svg");
}

#content {
  width: 1000px;
  height: 640px;
  float: right;
  margin-top: 80px;
  margin-right: 10%;

  background: #ffffff;
  box-shadow: 9px 12px 18px rgba(54, 38, 167, 0.6);
  border-radius: 10px 40px;
}
