.custom{
 grid-area: table;
 width: 100%;
 margin: 0 auto;
 height: 90%;
 z-index: 0;
.btn{
 width: 200px;
 height: 200px;
 cursor: pointer;
}

table {
  border-radius: 100px !important;
}
}
td{
  font-size: 0.95rem !important;
}
.back{
  background-color: var(--blue-500);
}