* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

body {
  background: url("img/Bg.svg"), rgba(116, 159, 170, 0.15);
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
}
