$btn: #ff6b35;
$txtColor: #fff;
$hover: rgba(54, 38, 167, 1);
$shadow: rgba(54, 38, 167, 0.4);

.navbar {
  width: 85vw;
  height: 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    .item{
      padding: 10px 2rem;
      border-radius: 10px 20px 10px 20px;
      cursor: pointer;
      position: relative;
      font-weight: 600;
      transition: 0.3s;
      i{
        margin: 0 0 0 10px;
      }
      &:hover {
        transform: translate(-2px, -5px);
        filter: grayscale(10%);
        box-shadow: 6px 7px 6px $shadow;
      }
    }
    #btnLogin {
      background-color: $btn;
      color: $txtColor;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
.active {
  display: block;
  text-decoration: none;
  color: #000;
  li {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translate(-2px, -5px);
    filter: grayscale(10%);
    box-shadow: 6px 7px 6px $shadow;
  }
}
a{
  display: block;
  text-decoration: none;
  color: #000;
}