.navbar {
  width: 85vw;
  height: 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    .item{
      padding: 10px 2rem;
      border-radius: 10px 20px 10px 20px;
      cursor: pointer;
      position: relative;
      transition: 0.5s;
      text-transform: capitalize;
      font-weight: bold;
      i{
        margin: 0 10px;
      }
      button{
        position: absolute;
        right: -22px;
        bottom: -40px;
        padding: 11px 35px;
        border-radius: 10px 20px 10px 20px;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        transition: all 1s;
        color: var(--white);
        cursor: pointer;
        background-color: rgba(var(--blueRgb), 0.7);
        box-shadow: 6px 7px 6px rgba(var(--blueRgb), 0.4);
      }
      &:hover {
        transform: translate(-2px, -5px);
        filter: grayscale(10%);
        box-shadow: 6px 7px 6px rgba(var(--blueRgb), 0.4);
      }
    }
    #btnLogin {
      background-color: var(--orange);
      color: var(--white);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
.active {
  display: block;
  text-decoration: none;
  color: #000;
  li {
    background-color: var(--white);
    transform: translate(-2px, -5px);
    filter: grayscale(10%);
    box-shadow: 6px 7px 6px rgba(var(--blueRgb), 0.4);
  }
}
a{
  display: block;
  text-decoration: none;
  color: var(--black);
}