#imagem {
  width: 900px;
  height: 640px;
  margin-top: 5%;
}

#information {
  position: absolute;
  width: 887px;
  height: 460px;
  left: 1090px;
  top: 200px;

  border: 5px solid #3f3d56;
  box-sizing: border-box;
  border-radius: 10px 40px;
  background-image: url("../../assets/img/wave.svg");
  background-position: 90% 40%;
  background-repeat: no-repeat;
  background-size: 855px 514px;
}

a {
  color: #3626a7;
}

.item-list {
  font-family: Roboto;
  font-size: 18px;
  list-style-type: none;
  margin-top: 30px;
  margin-left: 70px;
  width: 2000px;
  height: 20px;
}
